.container{
    max-width:70%;    
    background: #f8f8fb;
    box-sizing: border-box;
    border-radius: 5px;
}

.Pluscard{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}
.container h3{
    height: 50px;
    overflow-x: hidden;
    color: rgb(83, 83, 83);
    font-size: 15px;
    font-family: poppins;
    font-weight: bold;
    padding: 10px;
    transition: background-color 1.9s ease;

}

.Pluscard h2{
    font-size: 20px;
    font-family: poppins;
    color: rgb(65, 67, 67);
    font-weight: bold;
}
.Pluscard > button{
    display: grid;
    width: 30px;
    justify-content: center;
    place-items: center;
}