/* @keyframes shimmer {
    0% {
      background-position: -200px 0; 
    }
    100% {
      background-position: 200px 0; 
    }
  }
  
  .skeleton-custom {
    background: linear-gradient(90deg, #9a98fa 55%, #a1a0fd 75%);
    background-size: 200px 100%;
    animation: shimmer 0.2s infinite; 
  } */

  .spiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }